/* font-family: "Roboto", sans-serif; */
/* font-family: "Raleway", sans-serif; */
body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}
button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 0.04em;
}
/* #region header */
.site-logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.accent-blue {
    color: #4D5AE5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
}

 
a {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}
a:hover {
    color: #404BBF;
}
a:focus {
    color: #404BBF;
}
ul {
    list-style-type: none;
}
address a {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
}
/* #endregion header */
/* #region hero */
.hero-page {
    background-color: #2E2F42;
    color: #FFFFFF;
}
.hero-page-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
}
.hero-page-button:hover {
    background-color: #404BBF;
    color: #FFFFFF;
}
.hero-page-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
}
/* #endregion hero */
h2 {
    font-size: 36px;
    line-height: 1.11;
    font-weight: 700;
    letter-spacing: 0.02em;
}
h3 {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}
section p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.section-team {
    background-color: #F4F4FD;
}
.section-team h2 {
    text-align: center;
}
.section-team li {
    background-color: #FFFFFF;
}
.section-team h3 {
    text-align: center;
}
.section-team p {
    text-align: center;
}
.section-portfolio h2 {
    text-align: center;
}

/* #region footer*/
footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}
.accent-footer {
    color: #F4F4FD;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
}
footer p {
    line-height: 1.50;
    letter-spacing: 0.02em;
}
/* #endregion footer*/